.button {
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     width: fit-content;
     height: auto;
     padding-right: 20px;
     padding-left: 20px;
     border-radius:100px;
     align-items: center;
     transition: transform .17s ease;
     
}



.buttonMinimal {
     background-color: white;
     border-color: black;
     border-width: 1px;
     color:black;
     border-style: solid;
}


.buttonMaterial {
     background-color: palegreen;
}
.buttonImage {
     width: 20px;
     height: 20px;
     margin-right: 10px;
}
.buttonText {
     color: inherit;
     font-size: small;
}

.button:hover {
     transform:scale(1.1)
}