/* GLOBAL STYLES */

.main {
  display: flex;
  flex-direction: column;
  width: 100vw;
  background-color: white;
  min-height: 100vh;
  box-sizing: border-box;
  background-color: black;
  color: white;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e8e8e8",endColorstr="#f9f9f9",GradientType=1);
  background-repeat: no-repeat;
}
.headerContainer {
  padding-top: 20px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}
.headerContainer p {
  font-weight: 150;
  font-size: large;
}
.logo {
  width: 50px;
  height: fit-content;
  transition: transform 0.2s ease;
  cursor: pointer;
}

.sectionContainerMain {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 30px;
  gap: 10px;
}
.sectionContainer {
  display: flex;
  flex-direction: row;
  margin-bottom: 100px;
}
.sectionContainerRight {
  display: flex;
  margin-bottom: 100px;

  justify-content: flex-end;
}
.statements {
  height: fit-content;
  margin-top: 50px;
  margin-bottom: 50px;
  transition: transform 0.25s ease;
  cursor: crosshair;
}
.footer {
  background-color: black;
  width: 100vw;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  padding: 60px;
  box-sizing: border-box;
}
.footer .logo {
  width: 60px;
  height: fit-content;
}
.footerTitle {
  font-weight: bold;
  color: white;
}
.footerStatement {
  font-weight: 100;
  color: white;
  font-size: large;
  text-align: center;
}
.quickLinksContainer {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.quickLink {
  display: flex;
  width: 150px;
  background-color: white;
  height: 150px;
  border-radius: 30px;
  transition: transform 0.2s ease;
}
.visionInfo {
  padding: 40px;
  border-radius: 30px;
  box-sizing: border-box;
  background-color: white;
  display: flex;
  overflow-wrap: break-word;
  flex-direction: column;

  transition: transform 0.2s ease;
}
.visionInfo p {
  font-weight: 400;
  font-size: x-large;
}

.icon {
  width: 30px;
  height: min-content;
}
.visionInfo p {
  color: rgb(42, 42, 42);
  font-size: 1.8rem;
}
/* Large Desktops */
@media (min-width: 1200px) {
  .main {
    padding-left: 20vw;
    padding-right: 20vw;
  }
  .statements {
    width: 30vw;
  }

  .sectionContainerRight {
    flex-direction: row;
    gap: 40px;
  }
}

/* Desktops */
@media (min-width: 992px) and (max-width: 1199px) {
  .main {
    padding-left: 15vw;
    padding-right: 15vw;
  }
  .statements {
    width: 40vw;
  }

  .sectionContainerRight {
    flex-direction: row;
    gap: 40px;
  }
}

/* Tablets (landscape) */
@media (min-width: 768px) and (max-width: 991px) {
  .main {
    padding-left: 10vw;
    padding-right: 10vw;
  }
  .statements {
    width: 50vw;
  }

  .sectionContainerRight {
    flex-direction: column-reverse;
    align-items: end;
    gap: 40px;
  }
}

/* Tablets (portrait) and large mobile devices */
@media (min-width: 576px) and (max-width: 767px) {
  .main {
    padding-left: 05vw;
    padding-right: 05vw;
  }
  .statements {
    width: 60vw;
  }

  .sectionContainerRight {
    flex-direction: column-reverse;
    gap: 40px;
    align-items: end;
  }
}

/* Small mobile devices */
@media (max-width: 575px) {
  .main {
    padding-left: 5vw;
    padding-right: 5vw;
  }
  .statements {
    width: 70vw;
  }
  .visionInfo p {
    font-size: 1rem;
  }
  .visionInfo {
    padding: 8vw;
  }
  .icon {
    width: 30px;
  }

  .sectionContainerRight {
    flex-direction: column-reverse;
    gap: 40px;
    align-items: end;
  }
}

/* MOUSE HOVER ANIMATIONS */
@media (min-width: 767px) {
  .statements:hover {
    transform: scale(1.1);
  }
  .logo:hover {
    transform: scale(1.1);
  }
  .visionInfo:hover {
    transform: scale(1.1);
  }
  .quickLink:hover {
    transform: scale(1.05);
  }
}
