/* GLOBAL STYLES */

.main {
  display: flex;
  flex-direction: column;
  width: 100vw;
  background-color: white;
  min-height: 100vh;
  box-sizing: border-box;
  background: rgb(232, 232, 232);
  background: -moz-linear-gradient(
    177deg,
    rgba(232, 232, 232, 1) 0%,
    rgba(249, 249, 249, 1) 100%
  );
  background: -webkit-linear-gradient(
    177deg,
    rgba(232, 232, 232, 1) 0%,
    rgba(249, 249, 249, 1) 100%
  );
  background: linear-gradient(
    177deg,
    rgba(232, 232, 232, 1) 0%,
    rgba(249, 249, 249, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e8e8e8",endColorstr="#f9f9f9",GradientType=1);
  background-repeat: no-repeat;
}
.headerContainer {
  padding-top: 20px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}
.headerContainer p {
  font-weight: 150;
  font-size: large;
}
.logo {
  width: 50px;
  height: fit-content;
  transition: transform 0.2s ease;
  cursor: pointer;
}

.sectionContainer {
  display: flex;
}
.statements {
  height: fit-content;
  margin-top: 50px;
  margin-bottom: 50px;
  transition: transform 0.25s ease;
  cursor: crosshair;
}
.footer {
  background-color: black;
  width: 100vw;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  padding: 60px;
  box-sizing: border-box;
}
.footer .logo {
  width: 60px;
  height: fit-content;
}
.footerTitle {
  font-weight: bold;
  color: white;
}
.footerStatement {
  font-weight: 100;
  color: white;
  font-size: large;
}

/* Large Desktops */
@media (min-width: 1200px) {
  .main {
    padding-left: 20vw;
    padding-right: 20vw;
  }
  .statements {
    width: 30vw;
  }
}

/* Desktops */
@media (min-width: 992px) and (max-width: 1199px) {
  .main {
    padding-left: 15vw;
    padding-right: 15vw;
  }
  .statements {
    width: 35vw;
  }
}

/* Tablets (landscape) */
@media (min-width: 768px) and (max-width: 991px) {
  .main {
    padding-left: 10vw;
    padding-right: 10vw;
  }
  .statements {
    width: 40vw;
  }
}

/* Tablets (portrait) and large mobile devices */
@media (min-width: 576px) and (max-width: 767px) {
  .main {
    padding-left: 05vw;
    padding-right: 05vw;
  }
  .statements {
    width: 45vw;
  }
}

/* Small mobile devices */
@media (max-width: 575px) {
  .main {
    padding-left: 1vw;
    padding-right: 1vw;
  }
  .statements {
    width: 50vw;
  }
}

/* MOUSE HOVER ANIMATIONS */
@media (min-width: 767px) {
  .statements:hover {
    transform: scale(1.1);
  }
  .logo:hover {
    transform: scale(1.1);
  }
}
