/* GLOBAL STYLES */

.main {
  display: flex;
  flex-direction: column;
  width: 100vw;

  min-height: 100vh;
  box-sizing: border-box;
  background: #4776e6; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #8e54e9,
    #4776e6
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #8e54e9,
    #4776e6
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  /* opacity: 0.4;
  background-image: repeating-radial-gradient(
      circle at 0 0,
      transparent 0,
      #820080 10vw
    ),
    repeating-linear-gradient(#73008a55, #730069); */
  overflow: hidden;
  color: white;
  padding: 0px;
  margin: 0px;

  background-repeat: no-repeat;
}
.page {
  width: 100%;

  box-sizing: border-box;
}
.mainContainer {
  min-height: 100vh;
  box-sizing: border-box;
  display: flex;

  flex-direction: column;
  justify-content: space-between;
}

.headerContainer {
  padding-top: 20px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.headerContainer p {
  font-size: medium;
}
.logo {
  width: 40px;
  height: fit-content;
  transition: transform 0.2s ease;
  cursor: pointer;
}

.sectionContainer {
  display: flex;
  flex-direction: row;
  margin-bottom: 100px;
}
.sectionDiv {
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Use space-between instead of space-around */
  align-items: center;
}

.footer {
  background-color: white;
  width: 100vw;

  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  padding: 60px;
  box-sizing: border-box;
}
.footer .logo {
  width: 60px;
  height: fit-content;
}
.footerTitle {
  font-weight: bold;
  color: white;
}
.footerStatement {
  font-weight: 100;
  color: white;
  font-size: large;
  text-align: center;
}
.quickLinksContainer {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.quickLink {
  display: flex;
  width: 150px;
  background-color: white;
  height: 150px;
  border-radius: 30px;
  transition: transform 0.2s ease;
}
.visionInfo {
  padding: 40px;
  border-radius: 30px;
  box-sizing: border-box;
  background-color: white;
  display: flex;
  overflow-wrap: break-word;
  flex-direction: column;

  transition: transform 0.2s ease;
}
.visionInfo p {
  font-weight: 400;
  font-size: x-large;
}

.icon {
  width: 30px;
  height: min-content;
}
.visionInfo p {
  color: rgb(42, 42, 42);
  font-size: 1.8rem;
}
.statement {
  text-align: center;
  margin-top: 30px;
  font-weight: 300;
  margin-bottom: 20px;
}
.subStatement {
  text-align: center;
  width: 80%;
  font-weight: 300;
  font-size: large;
}
/* Large Desktops */
@media (min-width: 1200px) {
  .statement {
    font-size: 3.5rem;
  }
  .mainContainer {
    margin-left: 15vw;
    margin-right: 15vw;
  }
}

/* Desktops */
@media (min-width: 992px) and (max-width: 1199px) {
  .statement {
    font-size: 3.5rem;
  }
  .mainContainer {
    margin-left: 10vw;
    margin-right: 10vw;
  }
}

/* Tablets (landscape) */
@media (min-width: 768px) and (max-width: 991px) {
  .statement {
    font-size: 2.8rem;
  }
  .mainContainer {
    margin-left: 10vw;
    margin-right: 10vw;
  }
}

/* Tablets (portrait) and large mobile devices */
@media (min-width: 576px) and (max-width: 767px) {
  .statements {
    width: 60vw;
  }
  .mainContainer {
    margin-left: 10vw;
    margin-right: 10vw;
  }
  .statement {
    font-size: 2.5rem;
  }
}

/* Small mobile devices */
@media (max-width: 575px) {
  .visionInfo p {
    font-size: 0.4rem;
  }
  .visionInfo {
    padding: 4vw;
  }
  .icon {
    width: 30px;
  }

  .statement {
    margin-top: 0px;
    font-size: 2.3rem;
  }
  .mainContainer {
    margin-left: 2vw;
    margin-right: 2vw;
  }
}

/* GLOBAL COMPONENTS */
.button {
  background-color: white;
  padding: 15px;
  border-radius: 20px;
  transition: transform 0.2s ease;
  color: black;
  cursor: pointer;
}
.linkText {
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
  transition: transform 0.2s ease;
}
/* MOUSE HOVER ANIMATIONS */
@media (min-width: 767px) {
  .logo:hover,
  .visionInfo:hover {
    transform: scale(1.1);
  }
  .quickLink:hover {
    transform: scale(1.05);
  }
  .linkText:hover {
    transform: scale(1.2);
  }
  .button:hover {
    transform: scale(1.2);
  }
}
